/*--- Cards start ---*/
.card {
    position: relative;
    display: inline-block;
    margin: 2em;
    width: 20em;
}

.card .card-front {
    transform: rotateY(0deg);
    display: block;
    transition: .5s;
}

.card .card-back {
    position: absolute;
    display: block;
    transition: .5s;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
}

.card .card-front,
.card .card-back {
    color: #ffffff;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 18em;
    padding: 1em 2em;
    background: #15106B;
    border-radius: 15px;
}


/*--- Card text start ---*/

.card .card-front p,
.card .card-back p {
    line-height: 160%;
    color: #d6d6d6;
}


/*--- Card text end ---*/


/*--- Card flip start ---*/

.card:hover .card-front {
    transform: rotateY(180deg);
}

.card:hover .card-back {
    opacity: 1;
    transform: rotateY(0deg);
}


/*--- Card flip end ---*/


/*--- Cards end ---*/