form {
    padding: 2%;
}

input[type=text] {
    width: 20em;
    border: none;
    border-bottom: 2px solid #000000;
}

input[type=text]:focus {
    border: none;
    background-color: #999999;
}