

/*--- Youtube start ---*/
.youtube{
    margin: 2em;
    display: flex;
    width: 75%;
    height: auto;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.youtube-text{
   width: 60%; 
}
.youtube-text h1{
    margin: 0px 50px;
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 3px 3px black;
}
.youtube-text p{
    margin: 20px 0px;
    width: 90%;
    font-size: 24px;
    color: #fff;
    text-shadow: 2px 3px 3px black;
}

@media screen and (max-width: 768px) {
    .youtube{
        top: 65%;
        width: 80%;
    }
    .youtube-text{
        width: 80%;
    }
    .youtube iframe{
        visibility: collapse;
    }
    .youtube-text h1{
        margin: 2em 1em 0 1em;
        font-size: 22px;
    }
    .youtube-text p{
        font-size: 11px;
    }
}
/*--- Youtube end ---*/