@media screen and (max-width: 768px) {

}

* {
    /*--- overflow-x: auto; ---*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, serif;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    opacity: .5;
}

hr {
    width: 100%%;
    border: .25em solid black;
    border-radius: 5px;
}

.about-buttons {
    margin-bottom: 2em;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border-radius: 50px;
    padding: 1em 1.5em;
    font-size: 18px;
    background: #335CFF;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover, .hero-btn:active {
    background: #5C7CFF;
    transition: 0.5s;
}
@media screen and (max-width: 768px) {
    .hero-btn {
        font-size: 12px;
    }
}








/*--- Top nav start ---*/


/*--- Header start ---*/

header {
    background: #15106B;
}

header h1 {
    padding: 1% 0% 2% 1%;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(51, 92, 255, 1) 50%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

header h1 a:hover {
    opacity: 1;
}

nav {
    display: flex;
    padding: 0% 0% 2% 1%;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    border-style: solid;
    border-width: 0.1em;
    border-color: #ffffff;
    list-style: none;
    display: inline-block;
    margin: 0 0.5em;
    padding: .5em;
    position: relative;
    transition: 0.5s;
}

nav ul li:hover {
    background: #5C7CFF;
    border-color: #15106B;
}

nav ul li::after {
    content: '';
    width: 0%;
    height: .1em;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
@media screen and (max-width: 768px){
    nav ul li{
        display: block;
    }
    nav{
        width: 20em;
        
        justify-content: center;
        text-align: center;
        }
}



/*--- TEST ---*/
/*--- TEST ---*/
/*--- FOOTER ---*/

/*----- Nav Bar Mobile Menu -----*/

/*--- TEST ---*/
/*--- TEST ---*/

/*--- Top nav end ---*/

.page-type {
    padding: 0% 0% 1% 1%;
    color: #ffffff;
}

.page-type::after {
    content: '';
    position: absolute;
    display: block;
    height: .25em;
    width: 90%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(51, 92, 255, 1) 100%);
}

/*--- Header end ---*/


/*--- Hero button from my sr design website start ---*/
.fancy-button {
    margin: 1em 0 0 3em;
	display: inline-block;
    text-decoration: none;
	background: linear-gradient(to right, #5C7CFF, #5C7CFF);
	color: white;
	--width: 150px;
	--height: calc(var(--width) / 3);
	width: var(--width);
	height: var(--height);
	text-align: center;
	line-height: var(--height);
	font-size: calc(var(--height) / 2.5);
	font-family: sans-serif;
	letter-spacing: 0.2em;
	border: 1px solid #ffffff;
	border-radius: 2em;
	transform: perspective(500px) rotateY(-15deg);
	text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
	position: relative;
	overflow: hidden;
}

.fancy-button:hover {
	transform: perspective(500px) rotateY(15deg);
	text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

.fancy-button::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent, white, transparent);
	left: -100%;
	transition: 0.5s;
}

.fancy-button:hover::before {
	left: 100%;
}
@media screen and (max-width: 768px) {
    .fancy-button{
        --width: 100px;
    }
}
/*--- Hero button from my sr design website end ---*/

/*--- Bottom nav start ---*/


/*--- Footer start ---*/

footer .main-footer,
.social-media {
    padding: 1% 0% .5% 0%;
    background: #15106B;
    text-align: center;
    list-style-position: inside;
    color: #ffffff;
}

footer .main-footer ul li,
.social-media ul li {
    list-style: none;
    display: inline-block;
    padding: .5em;
    position: relative;
}

footer .main-footer ul li::after,
.social-media ul li::after {
    content: '';
    width: 0%;
    height: .2em;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

footer .main-footer ul li:hover::after,
.social-media ul li:hover::after {
    width: 100%;
}

footer .main-footer ul li a,
.social-media ul li a {
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 768px){ 
    footer ul li{
        display: block;
    }
    footer{
        justify-content: center;
        text-align: center;
        }
}
/*--- Footer end ---*/


/*--- Copyright start ---*/

.copyright {
    padding: 1% 0% 1% 0%;
    background: #15106B;
    text-align: center;
    color: #ffffff;
}
.copyright a {
    text-decoration: none;
    color: #ffffff;
}
/*--- Copyright end ---*/


/*--- Bottom nav end ---*/