/*--- Cards start ---*/
.cardBox, .cardBox img {
  float: left;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 20%;
}

.cardBox:hover .card,  .cardBox:active .card{
  transform: rotateY( 180deg);
}
.cardBox img{
    width: 100%;
    height: 100%;
}
.card {
  background: #111111;
  cursor: pointer;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 1s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card p {
  margin-bottom: 2em;
}

.card .front,
.card .back {
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: .5em;
  padding: 0 .5em;
}

.card .back {
  transform: rotateY( 180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  color: #fff;
  text-decoration: none;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover, .card .back a:active {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox .card .back {
  background: cornflowerblue;
}


@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 260px;
  }
}
/*--- Cards end ---*/